<table cellpadding=0, cellspacing=0, border=0 id="myTable" class="tablesorter">
  <thead>
  <tr>
    <th>Role</th>
    <th># of Lines Spoken</th>
    <th>Longest Speech</th>
    <th># of Scenes</th>
    <th>% of Total Scenes</th>
  </tr>
</thead>
  <% @speakers.each do |speaker| %>
    <tr>
      <td class="speaker"><%= speaker.name %></td>
      <td class="speakerLines"><%= speaker.lines.size %></td>
      <% @longest_speeches.each do |speech| %>
         <% if speech.key(speech[speaker[:name]]) == speaker.name %>
          <td><%= speech[speaker[:name]] %></td>
          <% end %>
      <% end %>
    </tr>
  <% end %>

</table>
<%= paginate @speakers %>

<%= content_for :scripts do  %>
<script type="text/javascript">
$(function(){
  $("#myTable").tablesorter();
});
</script>
<% end %>
